<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
        integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="calculator">
        <h1>Euro-To-Krone Calculator</h1>
        <h2>Convert</h2>
        <div>
            <label for="euro">Euro</label>
            <input id="euro" v-model="euroAmount" v-on:keyup="convert('toKrone')" type="number">
        </div>
        <div>
            <label for="krone">Krone</label>
            <input id="krone" v-model="kroneAmount" v-on:keyup="convert('toEuro')" type="number">
        </div>

        <h2>Exchange rate: {{ exchangeRate }}</h2>
        <div>
            <label for="exchangeRate">Wechselkur</label>
            <input id="exchangeRate" v-model="tmpExchangeRate" type="number">

            <div>
                <button v-on:click="setExchangeRate" type="button">Save</button>
                <button v-on:click="resetExchangeRate" type="button">Reset</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>